h2 {
    color:#767676
}
p{
    color:#767676
}
h4 {
    color: #767676;
}
h3{
    color: #767676;
}
b{
    color:grey;
}
 u{
    color: white
}
h1{
    color: grey;
}
strong{
    color: grey;
}
h{
    color: grey;
}
i{
    color:white;
}

body {
    background-color: black

}
